@model IEnumerable<CloudCRM.Core.Entities.Membership>

@{
    ViewData["Title"] = "Memberships";
}

<h2 class="mb-4 fw-bold">Memberships</h2>

<p>
    <a asp-action="Create" class="btn btn-primary mb-3">
        Create Membership
    </a>
</p>

<table class="table table-hover table-striped align-middle shadow-sm">

    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Price</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Customer.FirstName
                    @item.Customer.LastName
                </td>

                <td>
                    @item.MembershipType.Name
                </td>

                <td>
                    @item.StartDate.ToShortDateString()
                </td>

                <td>
                    @item.EndDate.ToShortDateString()
                </td>

                <td>
                    @item.Price
                </td>

                <td>
                    @if (item.IsActive)
                    {
                        <span class="badge bg-success">
                            Active
                        </span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">
                            Inactive
                        </span>
                    }
                </td>
                <td>
                    <a asp-action="Edit"
                        asp-route-id="@item.Id"
                        class="btn btn-outline-primary btn-sm">
                            Edit
                    </a>
                    <a asp-action="Delete"
                        asp-route-id="@item.Id"
                        class="btn btn-outline-danger btn-sm">
                            Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>

</table>