@model IEnumerable<CloudCRM.Core.Entities.Customer>

@{
    ViewData["Title"] = "Customers";
}

<h2 class="mb-4 fw-bold">Customers</h2>

<p>
    <a asp-action="Create" class="btn btn-success mb-3">
        Create New Customer
    </a>
</p>

<table class="table table-hover table-striped align-middle shadow-sm">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>

    @foreach (var customer in Model)
    {
        <tr>
            <td>@customer.FirstName</td>
            <td>@customer.LastName</td>
            <td>@customer.Email</td>
            <td>@customer.PhoneNumber</td>

            <td>
                <a asp-action="Edit"
                    asp-route-id="@customer.Id"
                    class="btn btn-outline-primary btn-sm">
                    Edit
                </a>

                <a asp-action="Delete"
                    asp-route-id="@customer.Id"
                    class="btn btn-outline-danger btn-sm">
                    Delete
                </a>
            </td>
        </tr>
    }

    </tbody>
</table>